<?xml version="1.0"?>

<launch>
  <arg name="gui"   default="true"/>
  <arg name="rviz"  default="true"/>
  <arg name="world" default="empty.world"/>  
  <arg name="ns"    default="dsr01"/>
  
  <arg name="host" default="127.0.0.1"/>
  <!-- <arg name="host" default="192.168.127.100"/> -->

  <arg name="mode" default="virtual"/>
  <arg name="sim" default="true"/>
  <!-- <arg name="mode" default="real"/> -->
  <!-- <arg name="sim" default="true" in a simulation mode/> -->
  
  <arg name="camera_use" default="false"/>
  <!-- <arg name="camera_use" default="false"/> -->
  

  
  <arg name="port" default="12345"/>
  <arg name="model" default="a0912"/>
  <arg name="color" default="white"/>
  <arg name="gripper" default="robotiq_2f"/>
  <arg name="mobile" default="none"/>
  <!--use moveit : controller=:trajectory / else: controller:=position-->
  <arg name="controller" default="trajectory"/>
  
  <!-- use robotiq_2f 140 gripper -->>
  <arg name="comport" default="/dev/ttyUSB0" unless="$(arg sim)"/> 
  <arg name="baud" default="115200" unless="$(arg sim)"/> 

  <!-- Spawn the arms. -->
  <!-- include file="$(find dsr_bringup)/launch/dsr_base.launch"-->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr01"/>
    <arg name="host"          value="$(arg host)"/>
    <arg name="port"          value="$(arg port)"/>
    <arg name="mode"          value="$(arg mode)"/>
    <arg name="model"         value="$(arg model)"/>
    <arg name="color"         value="$(arg color)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>
    <arg name="controller"    value="$(arg controller)"/>

    <arg name="x"             value="0"/>
    <arg name="y"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>

    
  <!-- model에 따른 moveit 실행 -->
  <group if="$(eval arg('model') == 'm0609')">
      <include file="$(find moveit_config_m0609)/launch/m0609.launch" ns="dsr01$(arg model)" >
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group>

  <!--group if="$(eval arg('model') == 'm0617')">
      <include file="$(find moveit_config_m0617)/launch/m0617.launch" ns="$(arg ns)$(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group-->

  <group if="$(eval arg('model') == 'm0617')">
      <include file="$(find moveit_config_m0617)/launch/m0617.launch" ns="$(arg ns)(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group>
  <!--group if="$(eval arg('model') == 'm1013')">
      <include file="$(find moveit_config_m1013)/launch/m1013.launch" ns="dsr01$(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group-->

  <!--I erased ns="dsr01$(arg model)" it causes because moveit_test error -->
  <!--group if="$(eval arg('model') == 'm1013')">
      <include file="$(find moveit_config_m1013_gripper)/launch/demo.launch" ns="$(arg ns)$(arg model)"-->
      <!--include file="$(find moveit_config_m1013_gripper)/launch/demo.launch"-->
          <!--arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group-->

  <group if="$(eval arg('model') == 'm1013')">
      <include file="$(find moveit_config_m1013_robotiq140)/launch/demo.launch" ns="$(arg ns)$(arg model)">
      <!--include file="$(find moveit_config_m1013_gripper)/launch/demo.launch"-->
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group>

  <group if="$(eval arg('model') == 'm1509')">
      <include file="$(find moveit_config_m1509)/launch/m1509.launch" ns="$(arg ns)$(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group>

  <group if="$(eval arg('model') == 'a0509')">
      <include file="$(find moveit_config_a0509)/launch/a0509.launch" ns="dsr01$(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group>

  <!--group if="$(eval arg('model') == 'a0912')">
      <include file="$(find moveit_config_a0912)/launch/a0912.launch" ns="dsr01$(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group-->

    <group if="$(eval arg('model') == 'a0912')">

        <include file="$(find moveit_config_a0912_gripper)/launch/demo.launch" ns="dsr01$(arg model)" >
            <arg name="fake_execution" value="false"/>
            <arg name="color" value="$(arg color)"/>
        </include>

        <!-- <include file="$(find moveit_config_a0912_gripper_camera)/launch/demo.launch" ns="dsr01$(arg model)">
            <arg name="fake_execution" value="false"/>
            <arg name="color" value="$(arg color)"/>
        </include> -->
            
        <!-- gripper Control -->
        <!-- Launch action server for gripper -->
        <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch">
            <arg name="comport" value="$(arg comport)" unless="$(arg sim)"/>
            <arg name="baud" value="$(arg baud)" unless="$(arg sim)"/>
            <arg name="stroke" value="0.140"/>
            <arg name="joint_name" value="robotiq_85_left_knuckle_joint"/>
            <arg name="verbose" value="true"/>
            <arg name="sim" value="$(arg sim)"/>
        </include>

        <!-- Launch action client example  -->
        <node pkg="robotiq_2f_gripper_control" type="robotiq_2f_action_client_example_class.py" 
            name="robotiq_140_client" output="screen">
            <param name="action_name" value="command_robotiq_action" />
        </node>
    </group>



  <group if="$(eval arg('model') == 'h2017')">
      <include file="$(find moveit_config_h2017)/launch/h2017.launch" ns="dsr01$(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group>

  <group if="$(eval arg('model') == 'h2515')">
      <include file="$(find moveit_config_h2515)/launch/h2515.launch" ns="dsr01$(arg model)">
          <arg name="fake_execution" value="false"/>
          <arg name="color" value="$(arg color)"/>
      </include>
  </group>
  
  
  
  
  
  <!-- View in RVIZ. -->
  <!--group if="$(arg rviz)"-->
    <!--node name="dmodel" pkg="dsr_launcher" type="dmodel.py"/-->
  <!--/group-->
</launch>
